In [2]:
import pandas as pd
import csv
import json

In [3]:
school_data = pd.read_csv("data/school_scores_2017_18.csv")

In [4]:
school_data.head()

,COUNTY_CODE,COUNTY_NAME,DISTRICT_CODE,DISTRICT_NAME,SCHOOL_CODE,SCHOOL_NAME,GRADESPAN,PRINCIPAL_NAME,ADDRESS,CITY_STATE_ZIP,...,CA_MetAverage,Targeted_ConsUnderPerf,CountyCode_y,CountyName_y,DistrictCode_y,DistrictName_y,SchoolCode_y,SchoolName_y,SummativeRating,SummativeScore
0,1,ATLANTIC,10,ABSECON CITY,50,EMMA C ATTALES,05-08,MR. BURNS,800 IRELAN AVENUE,ABSECON NJ 08201,...,Met,No,1,ATLANTIC,10,ABSECON CITY,50,EMMA C ATTALES,38.98,43.95
1,1,ATLANTIC,10,ABSECON CITY,60,H ASHTON MARSH,PK-04,MR. GIARDINA,800 IRELAN AVE,ABSECON NJ 08201,...,Met,No,1,ATLANTIC,10,ABSECON CITY,60,H ASHTON MARSH,57.88,55.49
2,1,ATLANTIC,110,ATLANTIC CITY,10,ATLANTIC CITY HIGH SCHOOL,09-12,MS. GIL,1400 N ALBANY AVENUE,ATLANTIC CITY NJ 08401-6153,...,Not Met,No,1,ATLANTIC,110,ATLANTIC CITY,10,ATLANTIC CITY HIGH SCHOOL,6.30,12.33
3,1,ATLANTIC,110,ATLANTIC CITY,30,SOVEREIGN AVENUE SCHOOL,PK-08,MS. PEYTON,3205 ARCTIC AVENUE,ATLANTIC CITY NJ 08401-3711,...,Met,No,1,ATLANTIC,110,ATLANTIC CITY,30,SOVEREIGN AVENUE SCHOOL,44.91,47.31
4,1,ATLANTIC,110,ATLANTIC CITY,50,CHELSEA HEIGHTS SCHOOL,PK-08,MR. FLOOD,4101 FILBERT AVENUE,ATLANTIC CITY NJ 08401-1023,...,Not Met,No,1,ATLANTIC,110,ATLANTIC CITY,50,CHELSEA HEIGHTS SCHOOL,26.60,35.53